 }@media screen and (max-width: 479px) {
	.top-wrapper h1 {
		font-size: 30px;
    }
    .top-wrapper h2 {
        font-size: 25px;
    }
    .content-wrapper p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .main-container p {
    	font-size: 18px;
    	line-height: 1.5em;
    	padding-top: 0px;
    	padding-left: 15%;
    }
    .main-container {
    	display: flex;
    	flex-direction: column-reverse;
    }
    .main-container img {
    	width: 30%;
    	margin: 0 auto;
    }
    .primary-wrapper p {
        font-size: 15px;
    	line-height: 1.5em;
    }
    .primary-container li {
     	 font-size: 18px;
    	line-height: 1.5em; 
    	padding-left: 10%;
    }
    .primary-container {
    	display: flex;
    	flex-direction: column-reverse;
    }
    .primary-container img {
    	margin: 0 auto;
    	margin-bottom: 10%;
    }
    .primary-wrapper h2 span {
    	font-size: 19px;
    }
    .primary-wrapper h2 {
    	font-size: 15px;
    }
    .secondary-container h3 {
        font-size: 20px;
    }
    .secondary-container p {
     	font-size: 15px;
    	line-height: 1.5em;
    }
    .tertiary-header h2 {
        font-size: 20px;
    }
    .tertiary-text h3 {
     	font-size: 18px;
    }
    .tertiary-text p {
        font-size: 16px;
    	line-height: 1.5em;
    }
    .tertiary-header 
    .quaternary-header h3 {
    	font-size: 20px;
    }
    .quaternary-wrapper h3 {
    	font-size: 18px;
    }
    .customer-one p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .customer-two p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .customer-three p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .form-text p {
    	font-size: 16px;
    	line-height: 1.5em;
    	background-color: rgba(174,168,171,0.1); 
    }
    .form-text p span {
    	font-size: 20px;
    }
    .form-contact {
    	width: 90%;
    	margin-right: 5%;
    	margin-left:  5%;
    }
    .contact-form .item input[type=submit] {
    	width: 80%;
    }
    .contact-form .item input[type=text],
    .contact-form .item input[type=phone],
    .contact-form .item textarea {
    	width: 80%;
    }
   .summry-container p {
        font-size: 16px;
    	line-height: 1.5em;
   } 
   .summry-icon h3 {
   	   font-size: 16px;
       line-height: 2em;
   }
   .summry-containers p {
   	   font-size: 16px;
       line-height: 1.5em;
   }
   .footer-container a {
 	  font-size: 12px;
   }
   footer {
   	  padding-top: 5px;
 	  padding-bottom: 5px;
 	  height: 40%;
 	  border: 1px dashed white;
   }
.summry-containers img {
	opacity: 0.3;
	width: 30%;
	height: 20%;
   }
}

@media screen and (max-width: 767px) {
	.top-wrapper h1 {
		font-size: 45px;
    }
    .top-wrapper h2 {
        font-size: 40px;
    }
    .content-wrapper p {
    	font-size: 16px;
    }
    .content-wrapper p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .main-container p {
    	font-size: 18px;
    	line-height: 1.5em;
    	padding-top: 0px;
    	padding-left: 15%;
    }
    .main-container {
    	display: flex;
    	flex-direction: column-reverse;
    }
    .main-container img {
    	width: 30%;
    	margin: 0 auto;
    }
    .primary-wrapper p {
        font-size: 15px;
    	line-height: 1.5em;
    }
    .primary-container li {
     	 font-size: 18px;
    	line-height: 1.5em; 
    	padding-left: 10%;
    }
    .primary-container {
    	display: flex;
    	flex-direction: column-reverse;
    }
    .primary-container img {
    	margin: 0 auto;
    	margin-bottom: 10%;
    }
    .primary-wrapper h2 span {
    	font-size: 19px;
    }
    .primary-wrapper h2 {
    	font-size: 15px;
    }
    .secondary-container h3 {
        font-size: 20px;
    }
    .secondary-container p {
     	font-size: 15px;
    	line-height: 1.5em;
    }
    .tertiary-header h2 {
        font-size: 20px;
    }
    .tertiary-text h3 {
     	font-size: 18px;
    }
    .tertiary-text p {
        font-size: 16px;
    	line-height: 1.5em;
    }
    .quaternary-header h3 {
    	font-size: 20px;
    }
    .quaternary-wrapper h3 {
    	font-size: 18px;
    }
    .customer-one p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .customer-two p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .customer-three p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .form-text p {
    	font-size: 16px;
    	line-height: 1.5em;
    	background-color: rgba(174,168,171,0.1); 
    }
    .form-text p span {
    	font-size: 20px;
    }
    .form-contact {
    	width: 90%;
    	margin-right: 5%;
    	margin-left:  5%;
    }
    .contact-form .item input[type=submit] {
    	width: 80%;
    }
    .contact-form .item input[type=text],
    .contact-form .item input[type=phone],
    .contact-form .item textarea {
    	width: 80%;
    }
   .summry-container p {
        font-size: 16px;
    	line-height: 1.5em;
   } 
   .summry-icon h3 {
   	   font-size: 16px;
       line-height: 2em;
   }
   .summry-containers p {
   	   font-size: 16px;
       line-height: 1.5em;
   }
   .footer-container a {
 	  font-size: 12px;
   }
   footer {
   	  padding-top: 5px;
 	  padding-bottom: 5px;
 	  height: 40%;
 	  border: 1px dashed white;
   }
.summry-containers img {
	opacity: 0.3;
	width: 38%;
	height: 45%;
   }

}


@media screen and (max-width: 375px) {
	.top-wrapper h1 {
		font-size: 30px;
    }
    .top-wrapper h2 {
        font-size: 25px;
    }
    .content-wrapper p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .content-container {
    	width: 96%;
    	margin: 2 auto;
    }

    .main-container p {
    	font-size: 16px;
    	line-height: 1.5em;
    	padding-top: 0px;
    	padding-right: 7%;
    }
    .main-container {
    	display: flex;
    	flex-direction: column-reverse;
    }
    .main-container img {
    	width: 30%;
    	margin: 0 auto;
    }
    .primary-wrapper {
    	width: 96%;
    	margin: 2 auto;
    }
    .primary-wrapper p {
        font-size: 15px;
    	line-height: 1.5em;
    }
    .primary-container li {
     	font-size: 18px;
    	line-height: 1.5em; 
    	padding-left: 0.5%;
    }
    .primary-container {
    	display: flex;
    	flex-direction: column-reverse;
    }
    .primary-container img {
    	margin: 0 auto;
    	margin-bottom: 10%;
    }
    .primary-wrapper h2 span {
    	font-size: 16px;
    }
    .primary-wrapper h2 {
    	font-size: 15px;
    }
    .secondary-container h3 {
        font-size: 20px;
    }
    .secondary-wrapper {
    	width: 96%;
    	margin: 0 auto;
    } 
    .secondary-container {
    	width: 96%;
    	margin: 2 auto;
    }
    .secondary-container p {
     	font-size: 15px;
    	line-height: 1.5em;
    }
    .tertiary-header h2 {
        font-size: 18px;
    }
    .tertiary-container {
    	position: relative;
    }
    .tertiary-wrapper img {
    	position: absolute;
    	opacity: 0.4;
    }

    .tertiary-text {
    	margin-left: 0;
    }

    .tertiary-header h2 {
     	border: 1px dashed white;
     }
    .tertiary-text h3 {
     	font-size: 18px;
    }
    .tertiary-text p {
        font-size: 16px;
    	line-height: 1.5em;
    }
    

    }
    .tertiary-container {
    	width: 90%;
        margin-left: 0 ;
        text-align: left;
    }
    
    .quaternary-header h3 {
    	font-size: 17px;
    .quaternary-wrapper h3 {
    	font-size: 18px;
    }
    .customer-one p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .customer-two p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .customer-three p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .form-text p {
    	font-size: 16px;
    	line-height: 1.5em;
    	background-color: rgba(174,168,171,0.1); 
    }
    .form-text p span {
    	font-size: 20px;
    }
    .form-contact {
    	width: 90%;
    	margin-right: 5%;
    	margin-left:  5%;
    }
    .form-text {
    	width: 100%;

    }
    .contact-form .item input[type=submit] {
    	width: 80%;
    }
    .contact-form .item input[type=text],
    .contact-form .item input[type=phone],
    .contact-form .item textarea {
    	width: 80%;
    }
   .summry-wrapper {
   	  width: 96%;
   	  margin: 0 auto;
   }
   .summry-container p {
        font-size: 16px;
    	line-height: 1.5em;
   } 
   .summry-icon h3 {
   	   font-size: 16px;
       line-height: 2em;
   }
   .summry-containers p {
   	   font-size: 16px;
       line-height: 1.5em;
   }
   .footer-container a {
 	  font-size: 12px;
   }
   footer {
   	  padding-top: 5px;
 	  padding-bottom: 5px;
 	  height: 40%;
 	  border: 1px dashed white;
   }
.summry-containers img {
	opacity: 0.3;
	width: 40%;
	height: 20%;
   }

}

@media screen and (min-width: 768px) {
	.top-wrapper h1 {
		font-size: 45px;	
	}
	.top-wrapper h2 {
		font-size: 35px;
	}
	.content-wrapper p {
		font-size: 15px;
		line-height: 1.5em;
		display: inline-block;
		text-align: left;
	}
	.content-wrapper {
		text-align: center;
	}
	.main-wrapper {
		text-align: center;

	}
	.main-container p {
    	font-size: 18px;
    	line-height: 1.5em;
    	padding-top: 0px;
    	padding-left: 15%;
    	display: inline-block;
    	text-align: left;
    	
    }
    .main-container {
    	display: flex;
    	flex-direction: column-reverse;
    	margin: 0 auto;
    	
    }
    .main-container img {
    	width: 30%;
    	margin: 0 auto;
    }
    .primary-wrapper p {
    	font-size: 15px;
    	text-align: justify;
    	line-height: 1.5em;
    }

    .primary-container li {
     	font-size: 18px;
    	line-height: 1.5em;
    	text-align: left;
    	margin-top: 5%;
    	margin-bottom: 5%;
    }
    .primary-container {
    	display: flex;
    	flex-direction: row-reverse;
    }
    .primary-container img {
    	margin: 0 auto;
    	margin-bottom: 5%;
    	margin-top: 5%;
    }
    .primary-wrapper h2 span {
    	font-size: 19px;
    }
    .primary-wrapper h2 {
    	font-size: 15px;
    }
    .secondary-container h3 {
        font-size: 20px;
    }
    .secondary-container p {
     	font-size: 15px;
    	line-height: 1.5em;
    }
    .tertiary-header h2 {
        font-size: 20px;
    }
    .tertiary-text h3 {
     	font-size: 18px;
    }
    .tertiary-text p {
        font-size: 16px;
    	line-height: 1.5em;
    }
    .quaternary-header h3 {
    	font-size: 20px;
    }
    .quaternary-wrapper h3 {
    	font-size: 18px;
    }
    .customer-one p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .customer-two p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .customer-three p {
    	font-size: 16px;
    	line-height: 1.5em;
    }
    .form-text p {
    	font-size: 16px;
    	line-height: 1.5em;
    	background-color: rgba(174,168,171,0.1); 
    }
    .form-text p span {
    	font-size: 20px;
    }
    .form-contact {
    	width: 90%;
    	margin-right: 5%;
    	margin-left:  5%;
    }
    .contact-form .item input[type=submit] {
    	width: 80%;
    }
    .contact-form .item input[type=text],
    .contact-form .item input[type=phone],
    .contact-form .item textarea {
    	width: 80%;
    }
   .summry-container p {
        font-size: 16px;
    	line-height: 1.5em;
   } 
   .summry-icon h3 {
   	   font-size: 16px;
       line-height: 2em;
   }
   .summry-containers p {
   	   font-size: 16px;
       line-height: 1.5em;
   }
   .footer-container a {
 	  font-size: 12px;
   }
   footer {
   	  padding-top: 5px;
 	  padding-bottom: 5px;
 	  height: 40%;
 	  border: 1px dashed white;
   }
.summry-containers img {
	opacity: 0.3;
	width: 33%;
	height: 45%;
   }
}

 
